/*------------------------------------------------*/
/*                     ANIM'S                 */
/*------------------------------------------------*/

@include keyframes(rainbow) {
    0% {
        background-position: left;
    }

    25% {
        background-position: center;
    }

    50% {
        background-position: right;
    }

    75% {
        background-position: center;
    }

    100% {
        background-position: left;
    }
}

@include keyframes(fadeIn) {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
    }
}

@include keyframes(feelIt) {
    0% {
        fill-opacity: 0;
    }

    30% {
        fill-opacity: 0.3;
        transform: scale(0.9);
        transform-origin: center;
    }

    60% {
        fill-opacity: 0.8;
        transform: scale(1.05);
        transform-origin: center;
    }

    75% {
        fill-opacity: 0.05;
        transform: scale(0.9);
        transform-origin: center;
    }

    90% {
        fill-opacity: 0.8;
        transform: scale(1.05);
        transform-origin: center;
    }

    100% {
        fill-opacity: 1;
    }
}