/*------------------------------------------------*/
/*                     HOMEPAGE                   */
/*------------------------------------------------*/
// Jumbotron
.hero {
    @extend %flex-jc-c;
    flex-flow: column wrap;
    row-gap: calculateRem(15px);
    text-align: center;
    padding: calculateRem(43px) calculateRem(30px) calculateRem(47px) calculateRem(30px);
    background-color: $color-bg-primary;

    &__title {
        @include padding(null, calculateRem(30px), null, null);
    }

    &__subtitle {
        @include fluid-type(calculateRem(375px), calculateRem(1024px), calculateRem(18px), calculateRem(21px));
        // @include margin(calculateRem(15px), null, calculateRem(15px), null);  cf.row-gap
        font-weight: 400;
    }

    &__cta {
        margin: calculateRem(12px) auto;
    }
}

// Section Manual
.mainManual {
    margin: calculateRem(45px) auto;
}

.manualTitle {
    text-indent: calculateRem(20px);

    @include breakpoint-up(large) {
        text-align: center;
    }
}

.manualList {
    margin: calculateRem(25px) auto;
    @extend %flex-jc-c;
    flex-flow: column wrap;
    row-gap: calculateRem(25px);
    @include linx(black, black, $color-primary, $color-primary);

    &__item {
        position: relative;
        background: $color-bg-primary;
        border-radius: 20px;
        @include padding(calculateEm(30px), calculateEm(35px), calculateEm(24px), calculateEm(35px));
        @extend %flex-ai-c;
        @include box-shadow(1, bottom);
        width: 100%;
        min-width: 320px;

        &:hover {
            transform: scale(1.05);
            @include box-shadow(3, bottom);
            transition: transform 300ms, box-shadow 300ms;

            &::after {
                opacity: 1;
            }

            .manualList__icon {
                color: $color-primary;
            }
        }

        &::after {
            @include pseudo-el(0, 0, 0, 0);
            background: rgba($color-primary, 10%);
            border-radius: 20px;
            opacity: 0;
            z-index: -1;
            transition: opacity 300ms;
        }
    }

    &__icon {
        @include fluid-type(calculateRem(375px), calculateRem(1024px), calculateRem(18px), calculateRem(22px));
        padding: 0 calculateEm(6px);
        margin-right: calculateRem(20px);
        background: transparent !important;
        text-align: center;
        color: darken($color-bg-secondary, 42.5);
    }

    .-fsUp {
        @include fluid-type(calculateRem(375px), calculateRem(1024px), calculateRem(20px), calculateRem(24px));
        padding-left: calculateEm(8px);
    }

    &__nbr {
        @include absolute-el (53%, null, null, -9%, 50%, -50%);
        padding: calculateEm(6px) calculateEm(12px);
        border-radius: 50%;
        background: $color-primary;
        color: #fff;
        @include fluid-type(calculateRem(375px), calculateRem(1024px), calculateRem(14px), calculateRem(16px));
    }

    .-active {
        background: rgba($color-primary, 10%);
    }

    @include breakpoint-up(large) {
        flex-flow: row wrap;
        justify-content: space-evenly;
        max-width: 1200px;
    }
}

//Section Restaurants
.mainRestaurants {
    background-color: $color-bg-primary;
    @include padding(calculateRem(59px), null, calculateRem(59px), null);
}

.restaurantsTitle {
    text-indent: calculateRem(20px);

    @include breakpoint-up(large) {
        text-align: center;
    }
}

.cardsContainer {
    display: flex;
    flex-flow: column wrap;
    gap: 5vw;
    margin: calculateRem(20px) calculateRem(20px) calculateRem(8px) calculateRem(20px);
    @include linx(black, black, black, black);

    &__link:nth-child(2) img {
        object-position: 50% 61%;
    }

    @include breakpoint-up(medium) {
        flex-flow: row wrap;
        justify-content: center;
    }

    @include breakpoint-up(large) {
        max-width: 1200px;
        margin: 1.5rem auto;
    }
}