.menuLayout {

    &__img {
        width: 100%;
        height: calculateRem(280px);
        object-fit: cover;

        @include breakpoint-up(medium) {
            object-position: 50% 70%;
            height: calculateRem(330px);
        }

        @include breakpoint-up(large) {
            height: calculateRem(398px);
        }
    }
}

.menu {
    background-color: $color-bg-primary;
    border-radius: calculateRem(38px) calculateRem(38px) 0 0;
    transform: translateY(-60px);
    padding: calculateRem(35px) calculateRem(12px) calculateRem(14px) calculateRem(14px);
    max-width: 1200px;
    margin: 0 auto;

    &Header {
        @extend %flex-ai-bl-jc-sb;

        &__title {
            font-family: 'Shrikhand', sans-serif;
            text-indent: calculateRem(4px);
            @include fluid-type(calculateRem(375px), calculateRem(1024px), calculateRem(25px), calculateRem(28px));
        }

        &__icon {
            @include fluid-type(calculateRem(375px), calculateRem(1024px), calculateRem(21px), calculateRem(23px));
            padding-right: 3%;
        }
    }

    &Container {
        @include breakpoint-up(large) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
    }

    &Box {
        margin-top: calculateRem(36px);

        &__title {
            @include fluid-type(calculateRem(375px), calculateRem(1024px), calculateRem(16px), calculateRem(18px));
            font-weight: 400;
            text-transform: uppercase;
            text-indent: calculateRem(7px);
            position: relative;

            &::after {
                @include pseudo-el(null, null, -3px, 7px);
                background-color: $color-tertiary;
                height: calculateRem(3px);
                width: calculateRem(40px);
            }
        }

        &__list {
            display: flex;
            flex-flow: column wrap;
            gap: calculateRem(14px);
            padding: calculateRem(14px) 0;

            @include breakpoint-up(medium) {
                margin-top: calculateRem(10px);
            }

            @include breakpoint-up(large) {
                margin-top: calculateRem(20px);
            }


            @for $i from 2 to 5 {
                :nth-child(#{$i}) {
                    animation-delay: $i * 0.2s !important;
                }
            }
        }

        &__item {
            background-color: #fff;
            border-radius: 15px;
            padding: calculateRem(15px) calculateRem(24px) calculateRem(13px) calculateRem(12px);
            @include box-shadow(1, bottom);
            display: flex;
            justify-content: space-between;
            overflow: hidden;

            &:hover {
                cursor: pointer;
                transform: scale(1.01);
                @include box-shadow(3, bottom);
                transition: transform 300ms, box-shadow 300ms;

                .menuBox__checkbox {
                    flex-basis: 17%;
                    transform: translateX(0%);
                }

                .menuBox__checkbox i {
                    transform: rotate(0deg);
                }
            }

            &:nth-child(n) {
                @include animation('fadeInY 1s ease-in-out both');
            }

            @include breakpoint-up(large) {
                flex-basis: 7rem;
            }
        }

        &__textDescription {
            margin-top: calculateRem(3px);
            @include fluid-type(calculateRem(375px), calculateRem(1024px), calculateRem(15px), calculateRem(18px));
            font-weight: 400;
            letter-spacing: -0.008em;
        }

        &__text {
            @include text-shorten(2);
            flex: 1;
        }

        &__price {
            align-self: flex-end;
            font-weight: bold;
            @include fluid-type(calculateRem(375px), calculateRem(1024px), calculateRem(15px), calculateRem(18px));
        }

        &__checkbox {
            @extend %flex-jc-c;
            background-color: $color-tertiary;
            transform: translateX(105%);
            flex-basis: 0%;
            border-radius: 0 15px 15px 0;
            margin: calculateRem(-15px) calculateRem(-24px) calculateRem(-13px) calculateRem(12px);
            transition: .4s ease-in-out;
        }


        &__checkbox i {
            color: $color-tertiary;
            background-color: #fff;
            padding: calculateEm(6px);
            height: calculateRem(30px);
            border-radius: 50%;
            @include fluid-type(calculateRem(375px), calculateRem(1024px), calculateRem(15px), calculateRem(18px));
            transform: rotate(-360deg);
            transition: .4s ease-in;

            @include breakpoint-up(large) {
                height: calculateRem(35px);
            }
        }

        @include breakpoint-up(large) {
            flex-basis: 30%;
        }
    }

    &Btn {
        margin: calculateRem(36px) auto;
        display: block;
        padding: calculateEm(18px) calculateEm(50px) calculateEm(18px) calculateEm(50px);
    }
}