// Default browser valuer

$browser-context: 16;

// Colors

$color-primary: rgb(147, 86, 220);
$color-secondary: rgb(255, 121, 218);
$color-tertiary: rgb(153, 226, 208);

$color-bg-primary: rgb(246, 246, 246);
$color-bg-secondary: rgb(234, 234, 234);

// Spaces

$layout-padding: 2rem;
$padding-top-bot: 0.875rem;

// Gap & Layout Margin/Padding

// $wrapper-margin: 6rem;
// $wrapper-padding: $wrapper-margin * .25;