// Colors

$color-primary: rgb(147, 86, 220);
$color-secondary: rgb(255, 121, 218);
$color-tertiary: rgb(153, 226, 208);

// Spaces

$layout-padding: 2rem;
$padding-top-bot: 0.875rem;

// Gap & Layout Margin/Padding

// $wrapper-margin: 6rem;
// $wrapper-padding: $wrapper-margin * .25;